body {
  background-image: url('../img/banner.jpg');
  background-color: #4d9eef;
}

h2 {
  position: relative;
  color: #fff;
  margin-top: 2rem;
}

h5 {
  margin-bottom: 1.3rem;
}

.titleBorder {
  width: 100%;
  height: 5px;
  background-color: #f1c40f;
  border-radius: 50px;
  margin-top: .5rem;
}

i {
  font-size: 1.3rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  margin-top: 2rem;
  background-color: #4569BE;
  border: 1px solid #fff;
  color: #fff;
}

.equivalance {
  display: none;
}

.equivalance-rub {
  display: none;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100% !important;
  }
}