body {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
}

h2 {
  color: #fff;
}

i {
  font-size: 1.4rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-tabs {
  width: 50%;
  border: none;
}

.tab-item {
  color: white;
}

.tab-item:hover {
  color: white;
}

.card {
  margin-top: 2rem;
  background-color: #4569BE;
  border: 1px solid #fff;
  color: #fff;
}

.card-2 {
  background-color: #16a085;
}

.equivalance {
  display: none;
}

.equivalance-rub {
  display: none;
}
.equivalance-ac {
  display: none;
}

.equivalance-rub-ac {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-tabs {
    width: 100%;
  }  

  .card {
    width: 100% !important;
  }
} 