body {
  background-color: #f4f4f4;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  background-color: #fff;
  border: 1px solid #BDBDBD;
}

.equivalance {
  display: none;
}

.equivalance-rub {
  display: none;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100% !important;
  }
}